* {
    margin: 0;
    scroll-behavior: smooth;
  }
  
  /* body {
    cursor: url("https://cdn.icon-icons.com/icons2/3412/PNG/512/pointer_cursor_icon_217437.png"), auto;
  } */
  
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  
  .greenColor {
    color: green !important;
  }
  .redColor {
    color: red !important;
  }